<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>v-text与v-html在v-bind上的使用</title>
		<script src="js/vuejs-2.5.16.js"></script>
	</head>
	<body>
		<div id="app">
			 用户名:<input type="text" v-model="username" />		
			 密码:<input type="password" v-model="password"/>
			 <button @click="func01">提交</button>
			 
		</div>
	</body>
	<script>
		//view model
		new Vue({
			el:"#app",
			data:{
				username:"aa",
				password:"aa"
			},
			methods:{
				func01:function(){
					
					alert(this.username+" "+this.password)
				}
			}
		});
	</script>
</html>
